/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');


/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 16px; */
    /* this is for root element but here is the root element is html or :root */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.25rem;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 1.88rem;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 9.38rem;
    height: 0.25rem;
    background: red;
    margin: 0.63rem auto;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 3.13rem;
    margin-bottom: 1.88rem;
    padding: 1rem;
    border: 0.125rem solid black;
}
.ctn{
    padding: 1rem 2rem;
    background: red;
    border-radius: 1.88rem;
    color: whitesmoke;
}

/* pseudo element */
/* .logo::after{
    content: "Him The King";
    background-color: black;
} */