div {
  background-color: #5d626e;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.navbarul li{
  display: inline-block;
  padding: 10px 5px;
}

.navbarul{
text-align: right;
width: 100%;
}
.navbarLink{
  text-decoration: none;
  color: black;
}
.navbarLink:hover{
  color: greenyellow;
}

.active{
  color: #61dafb;
}